/* section 1*/

#section1-container {
    background: url("../../assets/section1Background.svg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px 0px 20px;
    margin-top: 78px;
  }
  
  #section1-container > div > h1 {
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 18px;
  }
  
  #section1-container > div > h2 {
    color: #c2a9d9;
    font-size: 29px;
    font-weight: 400;
    margin: 0;
  }

  @media (max-width: 768px) {
    #section1-container {
        background: url("../../assets/section1BackgroundMobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: column;
        justify-content: unset;
        text-align: center;
        padding: 0px 18px;
        margin-top: 68px;
      }
    
      #section1-container > div > h1 {
        font-size: 30px;
        margin-bottom: 13px;
        margin-top: 40px;
      }
    
      #section1-container > div > h2 {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 25px;
      }
  }